@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,400&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: boarder-box;
text-decoration: none;
}
.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}


/* Style for Navigation Bar */


.navbar{
	position: fixed;
	width: 100%;
	padding: 15px 0px;
	font-family: 'Montserrat', sans-serif;
	background: orange;
	z-index: 1;
}
.navbar.sticky{
	padding: 15px;
	background: deepskyblue;
}
.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a{
	color: white;
	font-size: 25px;
	font-weight: 600;
}
.navbar .logo a:hover{
	color: steelblue;
}
.navbar .menu li{
	list-style: none;
	display: inline-block;
}
.navbar .menu li a{
	display: block;
	color: white;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: all 0.5s linear;
}
.navbar .menu li a:hover{
	color: steelblue;
}
/* Menu Button */
.menu-btn{
	cursor: pointer;
}

/* Style for Home Section */


.home{
	display: flex;
	background: url("images/lion4.jpg") no-repeat center;
	height: 100vh;
	color: white;
	min-height: 500px;
	max-height: 720px;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Montserrat', sans-serif;
}
.home .max-width{
	margin: auto 0 auto 200px;
}
.home .home-content .text-1{
	font-size: 30px;
}
.home .home-content .text-2{
	font-size: 50px;
	font-weight: 700;
}
.home .home-content .text-3{
	font-size: 30px;
}
.home .home-content a{
	display: inline-block;
	background: red;
	color: white;
	font-size: 20px;
	padding: 12px 20px;
	margin-top: 30px;
	border-radius: 10px;
	transition: all 0.5s linear;
}
.home .home-content a:hover{
	color: white;
	background: steelblue;
}


/* Style for About Section */


section{
	padding: 100px 0;
}
.about{
	font-family: 'Montserrat', sans-serif;
}
.about .title{
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;
}
.about .about-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.about .about-content .left{
	width: 45%;
}
.about .about-content .left img{
	height: 300px;
	width: 300px;
	object-fit: cover;
	border-radius: 18px;
}
.about .about-content .right{
	width: 55%;
}
.about .about-content .right .text{
	margin-bottom: 20px;
}
.about .about-content .right p{
	font-size: 20px;
	text-align: justify;
}


/* Style for Mission Section */


.mission{
	color: black;
	background: steelblue;
}
.mission .title{
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;
}
.mission .mission-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.mission .mission-content .card{
	width: calc(25% - 20px);
	background: white;
	text-align: center;
	border-radius: 10px;
	padding: 20px 20px;
}
.mission .mission-content .card:hover{
	background: aqua;
}
.mission .mission-content .card .box{
	transition: all 0.3s ease;
}
.mission .mission-content .card .box:hover{
	transform: scale(1.05);
}
.mission .mission-content .card img{
	height: 60px;
	width: 60px;
}
.mission .mission-content .text{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 600;
	margin: 10px 0;
}
.mission .mission-content p{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
/* Style for Vision Section */
.vision{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
.vision .title{
	font-size: 30px;
	text-align: center;
	padding-bottom: 50px;
}
.vision .vision-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.vision .vision-content .column{
	width: calc(50% - 30px);
}
.vision .vision-content .left .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}
.vision .vision-content .left .p{
	text-align: justify;
	font-size: 18px;
}
.vision .vision-content .left a{
	display: inline-block;
	background: red;
	color: white;
	font-size: 20px;
	padding: 12px 20px;
	margin-top: 30px;
	border-radius: 10px;
}
.vision .vision-content .left a:hover{
	color: white;
	background: steelblue;
}
.vision .vision-content .right .bar{
	margin-bottom: 15px;
}
.vision .vision-content .right .info{
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}
.vision .vision-content .right .info:hover{
	color: red;
}
.vision .vision-content .right span{
	font-weight: 600;
	font-size: 18px;
	padding: 5px;
}
.vision .vision-content .right .line{
	height: 10px;
	width: 100%;
	background: lightgray;
	position: relative;
}
.vision .vision-content .right .line::before{
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	background: red;
}
.vision-content .right .teaching::before{
	width: 90%;
}
.vision-content .right .baptism::before{
	width: 80%;
}
.vision-content .right .disciples::before{
	width: 85%;
}


/* Style for Contact Section */


.contact{
	display: flex;
	background: url("images/banner-8.jpeg") repeat center;
	background-size: cover;
	background-attachment: scroll;
	font-family: 'Montserrat', sans-serif;
}
.contact .title{
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;
}
.contact .contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.contact .contact-content .column{
	width: calc(50% - 30px);
}
.contact .contact-content .column .text{
	color: red;
	font-size: 25px;
	font-weight: 600;
	margin: 10px 0;
}
.contact .contact-content .left p{
	font-size: 18px;
	text-align: justify;
}
.contact .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}
.contact .contact-content .row .info{
	margin-left: 30px;
}
.contact .contact-content .left img{
	height: 20px;
	width: 20px;
}
.contact .contact-content .info .head{
	color: red;
	font-weight: 600;
	padding: 5px 0;
}
.contact .contact-content .info .sub-title{
	font-weight: 600;
}
.contact .right form .fields{
	display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
	height: 45px;
	width: 100%;
	margin-bottom: 5px;
}
.contact .right form .textarea{
	height: 100%;
	width: 100%;
}
.contact .right form .name{
	margin-right: 10px;
}
.contact .right form .email{
	margin-left: 32px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
	font-family: 'Montserrat', sans-serif;
	height: 80%;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 5px;
	outline: none;
	padding: 0 15px;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
	border-color: red;
}
.contact .right form .textarea textarea{
	padding-top: 10px;
	resize: none;
}
.contact .right form .button{
	height: 50px;
	width: 150px;
}
.contact .right form .button button{
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 100%;
	background: red;
	border: 2px solid red;
	outline: none;
	color: white;
	font-size: 18px;
	border-radius: 6px;
	cursor: pointer;
}
.contact .right form .button button:hover{
	color: white;
	border: 2px solid white;
	background: steelblue;
}


/* Style for Footer Section */


footer{
	font-family: 'Montserrat', sans-serif;
	color: white;
	background: black;
	text-align: center;
	padding: 20px 25px;
}
footer span a{
	color: steelblue;
}
footer span a:hover{
	text-decoration: underline;
}


/* Responsive Media Query */


@media (max-width: 1920px){
	.home .max-width{
		margin-left: : 0px;
	}
	.menu-btn{
		display: none;
		z-index: 999;
	}
}
@media (max-width: 1104px){
	.about .about-content .left img{
		height: 350px;
		width: 350px;
	}
	.menu-btn{
		display: none;
		z-index: 999;
	}
}
@media (max-width: 991px){
	.max-width{
		padding: 0 50px;
	}
}
@media (max-width: 947px){
	.menu-btn{
		display: block;
		z-index: 999;
	}
	.navbar .menu{
		position: fixed;
		height: 80vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: steelblue;
		opacity: 85%;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}
	.navbar .menu.active{
		left: 0%;
	}
	.navbar .menu li{
		display: block;
	}
	.navbar .menu li a{
		display: inline-block;
		margin: 20px;
		font-size: 25px;
	}
	.home .home-content .text-2{
		font-size: 35px
	}
	.home .home-content a{
		font-size: 18px;
		padding: 10px 30px;
	}
	.max-width{
		max-width: 930px;
	}
	.about .about-content .column{
		width: 100%;
	}
	.about .about-content .left{
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.about .about-content .right{
		flex: 100%;
	}
	.mission .mission-content .card{
		width: calc(50% - 10px);
		margin-bottom: 35px;
	}
	.vision .vision-content .column,
	.contact .contact-content .column{
		width: 93%;
		margin-bottom: 35px;
	}
}
@media (max-width: 690px){
	.max-width{
		padding: 0 23px;
	}
	.mission .mission-content .card{
		width: 100%;
	}
}
@media (max-width: 500px){
	.contact .right form .fields{
		flex-direction: column;
	}
	.contact .right form .name,
	.contact .right form .email{
		margin: 0;
	}
}









